@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');



*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    background: url('https://images8.alphacoders.com/430/430833.jpg') no-repeat center center;
    background-size: cover;
    height: 100vh;
    font-family: 'Press Start 2P', cursive;

}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}


.container {
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

.container h1 {
    font-size: 5em;
    color: white;
}

.score {
    position: absolute;
    left: 85vw;
    top: 5vh;
    z-index: 1;
    color: white;
    font-size: 3em;
}
